body{
    margin: 0px;
}
#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{ 
    display:block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color:#112;
}

#recipe-title{
    display: block;
    margin: 0;
    width:auto;
    background-color: #bcb7b7;
    text-align: center;
}
.ingredient{
    background-color: white;
    display: block;

}
.preparation{
    margin: 0;
    display: block;
    width:auto;
    background-color: antiquewhite;
    padding: 10px;
}
#ingredient{
    list-style-type: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: #ded7d7;

}
#ingredient li{
    float: none;
}